.app-header {
    padding: 2rem 0 1rem 0;
    border-bottom: solid var(--color-secondary) 1px;
    margin-bottom: 1rem;

    .main-heading {
        font-size: var(--font-size-large);
        color: var(--color-primary);
    }
}

@media (max-width: 768px) {
    .app-header {
        padding: 1rem 0 0.5rem 0;
        margin-bottom: 1rem;

        .main-heading {
            font-size: var(--font-size-medium);
        }
    }
}