.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .loader-message {
        color: var(--color-primary-dark-1);
        font-size: var(--font-size-base);
    }
}

.loader-circle {
    border: solid 3px transparent;
    border-top-color: var(--color-primary);
    border-left-color: var(--color-primary);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}