.form-group {
    label {
        font-size: var(--font-size-small);
        margin-bottom: 5px;
        display: block;
    }

    .form-input {
        display: flex;
        width: -webkit-fill-available;
        color: var(--berie-black);
        box-sizing: border-box;
        border-radius: var(--border-radius-base);
        border: 1px solid var(--berie-black);
    }

    &.input--medium {
        .form-input {
            padding: 0.4rem;
            height: 35px;
            font-size: var(--font-size-base);
        }

        label {
            font-size: var(--font-size-base);
        }
    }

    &.input--large {
        .form-input {
            padding: 0.5rem;
            height: 45px;
            font-size: var(--font-size-m-base);
        }

        label {
            font-size: var(--font-size-m-base);
        }
    }

    &.input--small {
        .form-input {
            padding: 0.3rem;
            height: 25px;
            font-size: var(--font-size-small);
        }

        label {
            font-size: var(--font-size-small);
        }
    }

    &.input--error {
        .form-input {
            border: 1px solid var(--color-error);
        }

        .error-message {
            color: var(--color-error);
            font-size: var(--font-size-small);
            margin-top: 4px;
        }

    }

    //checkbox and radio button styles
    &.input--checkbox,
    &.input--radio {
        display: flex;

        &.input--small {
            .form-input {
                width: 12px;
                height: 12px;
            }
        }

        &.input--medium {
            .form-input {
                width: 15px;
                height: 15px;
            }
        }

        &.input--large {
            .form-input {
                width: 20px;
                height: 20px;
            }
        }

    }

    // color selector style
    &.input--color {
        display: flex;
        align-items: center;

        &.input--small {
            .form-input {
                width: 12px;
                height: 12px;
            }
        }

        &.input--medium {
            .form-input {
                width: 20px;
                height: 20px;
            }
        }

        &.input--large {
            .form-input {
                width: 30px;
                height: 30px;
            }
        }

        .form-input {
            margin-left: 5px;
            -webkit-appearance: none;
            padding: 0;
            border: none;

            &::-webkit-color-swatch-wrapper {
                padding: 0;
            }

            &::-webkit-color-swatch {
                border: none;
                border-radius: 30px;
            }

        }

        &:-webkit-color-swatch-wrapper {
            padding: 0;
        }

        &:-webkit-color-swatch {
            border: none;
        }
    }

}

@media (max-width: 768px) {
    .form-group {
        &.input--medium {
            .form-input {
                padding: 0.3rem;
                height: 25px;
                font-size: var(--font-size-small);
            }

            label {
                font-size: var(--font-size-base) !important;
            }
        }

        &.input--large {
            .form-input {
                padding: 0.4rem;
                height: 35px;
                font-size: var(--font-size-base);
            }

            label {
                font-size: var(--font-size-base) !important;
                ;
            }
        }
    }
}