.ui-button {
    display: flex;
    width: fit-content;
    align-items: center;
    color: var(--white);
    box-sizing: border-box;
    cursor: pointer;
    border: none;
    border-radius: var(--border-radius-base);
    font-size: var(--font-size-base);

    &.btn--primary {
        background-color: var(--color-primary);

        &:hover {
            background-color: var(--color-primary-dark-1);
        }
    }

    &.btn--secondary {
        background-color: var(--color-secondary);

        &:hover {
            background-color: var(--color-secondary-dark-1)
        }
    }

    &.btn--medium {
        padding: 0.5rem 1.5rem;
        height: 40px;
        font-size: var(--font-size-base);
    }

    &.btn--large {
        padding: 0.75rem 2rem;
        height: 50px;
        font-size: var(--font-size-medium);
    }

    &.btn--small {
        padding: 0.4rem 1rem;
        height: 30px;
        font-size: var(--font-size-small);
    }

    &.btn--full-width {
        width: 100%;
        justify-content: center;
    }

    &:disabled {
        opacity: 0.6;
        cursor: no-drop;
    }
}

@media (max-width: 768px) {
    .ui-button {
        &.btn--medium {
            padding: 0.4rem 1rem;
            height: 30px;
            font-size: var(--font-size-small);
        }

        &.btn--large {
            padding: 0.5rem 1.5rem;
            height: 40px;
            font-size: var(--font-size-base);
        }
    }
}