body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-secondary-light-2);
  color: var(--color-secondary-dark-1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.sub-header {
  font-size: var(--font-size-medium);
  margin-bottom: 1rem;

  &::after {
    content: "";
    background-color: var(--color-secondary-light-1);
    width: 20vw;
    height: 6px;
    display: block;
    margin: 2px 0 10px 0;
  }
}