:root {
    /* Colors */
    --black: #000000;
    --white: #ffffff;
    --cascading-white: #f6f6f6;
    --silver-medal: #d6d6d6;
    --kettleman: #626262;
    --berie-black: #1C1C1C;
    --royal-orange: #fb7622;
    --Jokaero-orange: #e95b03;
    --herbal: #24A787;
    --blue-eyed-boy: #1977C9;
    --urobilin: #DDAF23;
    --rufous: #A41D0C;


    /* Theme variables*/
    --color-primary: var(--royal-orange);
    --color-primary-dark-1: var(--Jokaero-orange);
    --color-secondary-light-2: var(--cascading-white);
    --color-secondary-light-1: var(--silver-medal);
    --color-secondary: var(--kettleman);
    --color-secondary-dark-1: var(--berie-black);

    --font-size-button: 1.25rem;
    --color-success: var(--herbal);
    --color-error: var(--rufous);
    --color-warning: var(--urobilin);
    --color-info: var(--blue-eyed-boy);
    --color-white: var(--white);
    --color-black: var(--black);

    /* Fonts*/
    --font-size-x-small: 0.65rem;
    --font-size-small: 0.813rem;
    --font-size-base: 1rem;
    --font-size-m-base: 0.9rem;
    --font-size-medium: 1.5rem;
    --font-size-m-medium: 1.25rem;
    --font-size-large: 2.5rem;


    --font-weight-base: 400;
    --font-weight-bold: 700;

    /*layouts*/
    --padding-base: 1rem;
    --border-radius-base: 4px;

}